* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #FDF7F4;
}

:root {
    --paddingPadrao: 15%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 30vh;
}

.textoNormal, textoGrande {
    font-size: 17px;
}


.titulo {
    font-size: 20px;
    color: #14410C;

    margin: 7% 0;
}

.produto {
    display: grid;
    
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    
    row-gap: 4%;
}

.descricao {
    color: #625F5F;
}

.preco {
    font-size: 20px;
}

.botao {
    color: white;
    background-color: #14410C;
    padding: .7vw 2vw;
    border-radius: .15rem;
}

.textoPequeno {
    font-size: 15px;
}

.subtitulo {
    font-size: 18px;
    color: #352821;
}

/* HEADER */

header {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.header-superior {
    text-align: center;

    padding: .5% var(--paddingPadrao);
}

.header-inferior {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: #352821;

    padding: 1vw var(--paddingPadrao);
}

.header-inferior div {
    width: 20%;
}

.header-inferior i {
    color: #FDF7F4;
    margin-right: 1%;
}

.header-inferior .pesquisa {
    white-space: nowrap;
}

.header-inferior .pesquisa input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FDF7F4;

    width: 90%;
}

.header-inferior .pesquisa input::placeholder {
    color: #FDF7F4;
    opacity: 95%;
}

.header-inferior nav {
    width: 40%;
    white-space: nowrap;
    text-align: center;
    
    transform: translateX(+2%);
}

.header-inferior nav a {
    margin-right: 4%;
    color: #FDF7F4;
}

.header-inferior .menu {
    text-align: end;
}

.header-inferior .menu i {
    margin-right: 4%;
}

.ultimo {
    margin: 0;
}

#iconeSacola {
    margin-right: 0;
}

/* MAIN */

main .novidades, main .colecoes {
    padding: 0 var(--paddingPadrao);
    text-align: center;
}

main .novidades div, main .colecoes div {
    margin-bottom: 10%;
    text-align: left;
}

main .novidades div img, main .colecoes div img {
    max-width: 100%;
}

/* FOOTER */

footer {
    background-color: #352821;
    padding: 2% var(--paddingPadrao);

    color: #F3E2D8;
    height: fit-content;

    display: grid;

    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

footer img {
    margin-bottom: 3%;
}

footer .footerMeio {
    display: flex;
    
    justify-content: space-between;
}

footer .linksFooter {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;


    margin-top: 3%;
    margin-bottom: 3%;

    column-gap: 25%;

    white-space: nowrap;
}

footer .linksFooter div {
    display: flex;

    flex-direction: column;
}

footer .linksFooter div h3 {
    margin-bottom: 20%;
}

footer .linksFooter div a {
    color: #F3E2D8;
    margin-bottom: 5%;
}

footer .iconesLateraisFooter {
    text-align: right;
    margin-top: 3%;
    margin-bottom: 3%;

    display: grid;

    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
}

.iconesLateraisFooter i {
    margin-right: 3%;
}

footer .footerInferior {
    display: flex;

    justify-content: space-between;
    margin-top: 1%;
}

.footerInferior div {
    display: flex;
}

.footerInferior div img {
    margin-right: 10%;
}