* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #FDF7F4;
}

:root {
    --paddingPadrao: 15%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 30vh;
}

.textoNormal {
    font-size: 17px;
}

.titulo {
    font-size: 20px;
    color: #14410C;

    margin: 7% 0;
}

.produto {
    display: grid;
    
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    
    row-gap: 4%;
}

.descricao {
    color: #625F5F;
}

.preco {
    font-size: 20px;
}

/* HEADER */

header {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.header-superior {
    text-align: center;

    padding: .5% var(--paddingPadrao);
}

.header-inferior {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: #352821;

    padding: 2vh var(--paddingPadrao);
}

.header-inferior div {
    width: 20%;
}

.header-inferior i {
    color: #FDF7F4;
    margin-right: 1%;
}

.header-inferior .pesquisa {
    white-space: nowrap;
}

.header-inferior .pesquisa input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FDF7F4;

    width: 90%;
}

.header-inferior .pesquisa input::placeholder {
    color: #FDF7F4;
    opacity: 95%;
}

.header-inferior nav {
    width: 40%;
    white-space: nowrap;
    text-align: center;
    
    transform: translateX(+2%);
}

.header-inferior nav a {
    margin-right: 4%;
    color: #FDF7F4;
}

.header-inferior .menu {
    text-align: end;
}

.header-inferior .menu i {
    margin-right: 4%;
}

.ultimo {
    margin: 0;
}

#iconeSacola {
    margin-right: 0;
}


/* MAIN */

main {
    display: grid;

    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 100%;
}

main .destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 0 var(--paddingPadrao);
}

main .destaques > div {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

